.drop-down-container {
  border: 1px solid black;
  border-radius: 3px;
  width: 95%;
  margin: auto;
  margin-bottom: 19px;
  padding: 10px;
}

.drop-down-container header {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 6px;
}

.drop-down-container footer {
  clear: both;
  text-decoration: underline;
  cursor: pointer;
  font-size: .8em;
  text-align: center;
}

.drop-down-container footer:hover {
  color: #79cedc;
}

.drop-down-container section {
  float: none !important;
  max-height: 0px;
  -webkit-transition: height 1s !important;
  transition: max-height 1s !important;
  width: 80% !important;
  margin: auto !important;
  background-color: #79cedc !important;
  border-radius: 2px !important;
  padding: 1px !important;
  overflow: hidden !important;
}

.drop-down-container section ul {
  list-style: none;
  margin: 0px;
  padding: 10px;
}

.drop-down-container section ul li {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.expanded {
  max-height: 3000px !important;
  overflow-y: scroll;
}

.file-panel iframe {
  width: 100%;
  height: 300px;
  margin: auto;
}

.file-panel button {
  display: block;
}
