@import 'media_query';

.site-header {
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  font-size: 3.5em;
  position: relative;
  height: 5%;
  min-height: 1.25em;
  color: white;

  @media screen and (max-width : $break-medium) {
    font-size: 1.35em;
  }

  @media screen and (max-width : $break-small) {
    font-size: 1.3em;
  }
}

.site-header span {
  margin-left: 1em;
}

.site-header button {
  float: right;
  font-size: .4em;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 3px;
  border: 0px;
  background-color: ghostwhite;
  cursor: pointer;
}

.site-header button:hover {
  border: 1px solid black;
}
