.site-header {
  background-color: #d5a458;
  padding: 10px;
  font-size: 1.75em;
  position: relative;
  height: 5%;
  min-height: 1.25em;
}

.site-header button {
  float: right;
  font-size: .7em;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 3px;
  border: 0px;
  background-color: ghostwhite;
  cursor: pointer;
}

.site-header button:hover {
  border: 1px solid black;
}
