body, html, #root, .app-container {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

button {
  font-family: 'Raleway', sans-serif;
}

video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -3;
  top: 0;
}
