.patient-home-container {
  height: 100%;
}

.patient-view-container {
  padding: 1em 2em;
  background-color: ghostwhite;
  min-height: 100%;
}

.patient-view-container h1 {
  margin: 0px;
  text-decoration: underline;
  font-size: 1.75em;
  padding-bottom: 10px;
  color: #0f2043;
  margin-left: 20px;
}

.patient-view-info {
  margin-left: 20px;
}

.patient-view-container h3 {
  margin: 0px;
  font-size: 1em;
  padding-bottom: 5px;
  color: #0f2043;
}

.patient-view-buttons {
  text-align: center;
  padding: 11px 0px;
  margin: 15px 0px;
  border-radius: 4px;
}

.patient-view-buttons button {
  margin: 0px 15%;
  padding: 7px 12px;
  font-size: 1em;
  border: 1px solid grey;
  background-color: ghostwhite;
}

.patient-view-buttons button:hover {
  cursor: pointer;
  border: 1px solid #0f2043;
}
